<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>User edit form</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Tracker</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/main">Item list<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <!-- Навигационная панель содержимое -->
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>User Edit</h2>
            <form th:action="@{/user}" method="post">
                <form>
                    <input type="hidden" th:value="${user.id}" name="user_id">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Имя пользователя"
                               name="username" th:value="${user.username}">
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Фамилия пользователя"
                               name="surname" th:value="${user.surname}">
                    </div>

                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control form-control-sm" placeholder="Old Password"
                               name="old_password" value="">
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control form-control-sm" placeholder="New Password"
                               name="new_password" value="">
                    </div>

                    <div class="form-group">
                        <ul>
                            <li th:each="key: ${roles.keySet()}">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:checked="${roles.get(key)}"
                                           id="${key}">
                                    <label class="form-check-label" for="${key}">
                                        <span th:text="${key}"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${user.active}" id="isActive" name="isActive">
                            <label class="form-check-label" for="isActive">
                                <span>isActive</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>